.cart-without-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;
    justify-content: center;
}

.cart-without-products .heading{
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 56px;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-align: center;
}

.cart-without-products .line-separator{
    height: 5px;
    width: 40%;
    background: var(--secondary-color);
    margin: 25px auto 25px auto;
}

.cart-without-products .sub-heading{
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    width: 50%;
    color: var(--primary-color-dark);
    text-align: center;
    margin: 0 auto;
}

.cart-without-products a{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-top: 40px;
    width: 30%;
    min-width: 350px;
    padding: 12px;
    background-color: var(--secondary-color);
    color: var(--grey-color);
    border: 1px solid var(--secondary-color);
    text-decoration: none;
    text-align: center;
}