.cart-list-table{
    display: table;
    width: 95%;
    border: 1px solid var(--grey-color);
    box-sizing: border-box;
    border-collapse: collapse;
}

.cart-list-table thead tr{
    text-align: left;
}

.cart-list-table thead tr th{
    padding: 24px 0;
    background-color: var(--grey-color);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cart-list-table thead tr .head-img{
    width: 25%;
}

.cart-list-table thead tr .head-name{
    width: 20%;
}
.cart-list-table thead tr .head-quantity{
    width: 25%;
}
.cart-list-table thead tr .head-price{
    width: 15%;
}
.cart-list-table thead tr .head-remove{
    text-align: center;
    width: 10%;
}

.cart-list-table tbody tr td{
    border-bottom: 1px solid var(--grey-color);
}

.cart-list-table tbody tr td img{
    max-width: 85px;
}

.cart-list-table tbody tr td.cart-thumbail{
    text-align: center;
}

.cart-list-table tbody tr td.cart-name span{
    color: var(--primary-color-light);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.cart-list-table tbody tr td.cart-price span{
    color: var(--primary-color-light);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.cart-list-table tbody tr td .cart-quantity{
    display: flex;
}

.cart-list-table tbody tr td .cart-quantity input{
    text-align: center;
    width: 44px;
    box-sizing: border-box;
    border: 1px solid var(--grey-color);
}

.cart-list-table tbody tr td .cart-quantity input:focus{
    outline: none;
}

.cart-list-table tbody tr td .cart-quantity button{
    user-select: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    background-color: var(--grey-color);
    color: var(--secondary-color);
    border: 1px solid var(--grey-color);
    cursor: pointer;
}

.cart-list-table tbody tr td .cart-quantity button:focus{
    outline: none;
}

.cart-list-table tbody tr td .cart-quantity button svg{
    display: flex;
    fill: var(--secondary-color);
}

.cart-list-table tbody tr td.cart-remove{
    text-align: center;
    
}

.cart-list-table tbody tr td.cart-remove svg{
    fill: var(--secondary-color);
    cursor: pointer;
    margin-top: 4px;
    transition: 0.5s all;
}

.cart-list-table tbody tr td.cart-remove svg:hover{
    fill: var(--secondary-color-light);
}


@media (max-width: 768px){
    .cart-list-table thead tr .head-img {
        width: 20%;
    }

    .cart-list-table thead tr .head-price {
        width: 10%;
    }
    .cart-list-table thead tr .head-remove {
        width: 8%;
    }
}

@media (max-width: 576px){
    .cart-list-table thead tr .head-img {
        width: 10%;
    }

    .cart-list-table thead tr .head-remove {
        width: 12%;
    }

    .cart-list-table thead tr .head-name {
        display: none;
    }

    .cart-list-table tbody tr td.cart-name {
        display: none;
    }
    .cart-list-table thead tr .head-quantity, .cart-list-table thead tr .head-price{
        text-align: center;
    }

    .cart-list-table tbody tr td.cart-price{
        text-align: center;
    }

    .cart-list-table tbody tr td .cart-quantity {
        justify-content: center;
    }
}