@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marcellus&display=swap');

:root{
  --primary-color: #41413F;;
  --primary-color-light: #9E9E9E;
  --primary-color-dark: #2d2c29;
  --secondary-color: #607d8b;
  
  --white-color: #f9f9f9;
  --grey-color: #f2f2f2;
  --grey-color-dark: #eaeaea;
}

html{
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main{
  min-height: calc(100vh - 130px);
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width:576px){
  .container{
    padding: 0 20px;
  }
}
