.bag-item-container{
    flex: 0 25%;
    padding: 0 12px 24px 12px;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
}

.bag-item-container .bag-item-img img{
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5s all;
    object-fit: cover;
}

.bag-item-container.loaded .bag-item-img img{
    transform: translateX(0%);
    opacity: 1;
}

.bag-item-container .bag-item-img{
    background-color: var(--grey-color);
    position: relative;
    overflow: hidden;
    cursor: pointer;

    height: 350px;
}

.bag-item-container .bag-item-img::after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, #b3b3b320, transparent);
    animation: loading_shine 1.5s infinite;
}

.bag-item-container.loaded .bag-item-img::after{
    display: none;
}

.bag-item-container .bag-item-img:hover{
    background-color: var(--secondary-color);
}

.bag-item-container .bag-item-img:hover > .button.add-cart{
    transform: translate(-50%, 0%);
}

.bag-item-container .bag-item-img .button{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;

    width: 50%;
    padding: 12px;
    background-color: var(--primary-color-dark);
    color: var(--grey-color);
    border: 1px solid var(--primary-color-dark);

    position: absolute;
}

.bag-item-container .bag-item-img .button.add-cart{
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 200%);
    text-align: center;
    transition: 0.5s all;
}

.bag-item-container .bag-item-img .button.add-cart svg{
    fill: var(--grey-color);   
}

.bag-item-container .bag-item-img .button:hover{
    background-color: var(--grey-color);
    color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
}

.bag-item-container .bag-item-img .button:hover > span svg{
    fill: var(--primary-color-dark);
}

.bag-item-desc{
    margin-top: 12px;
    min-height: 50px;
}

.bag-item-desc .top{
    position: relative;
    display: flex;
    flex-direction: row;

    margin-bottom: 6px;
}

.bag-item-desc .bottom{
    position: relative;
}

.bag-item-desc .top .name{
    color: var(--primary-color-light);
    font-size: 16px;
    font-weight: 500;
    flex: 1;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateX(-100%);
}

.bag-item-desc .top .model svg{
    cursor: pointer;
}

.bag-item-desc .bottom .price{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateX(-100%);
}

.bag-item-desc .bottom .line, .bag-item-desc .top .line{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.line{
    height: 8px;
    width: 60%;
    display: block;
    background-color: var(--grey-color);
    border-radius: 5px;
    overflow: hidden;
    opacity: 1;

    transition: 0.3s all;
}

.line::after{
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, #2d2c2920, transparent);
    animation: loading_shine 1.5s infinite;
}

.bag-item-container.loaded .line{
    opacity: 0;
}

.bag-item-container.loaded .line::after{
    display: none;
}

.bag-item-container.loaded .bag-item-desc .top .name{
    animation-duration: 0.75s;
    animation-name: enter_desc_bag;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.bag-item-container.loaded .bag-item-desc .bottom .price{
    animation-duration: 0.75s;
    animation-name: enter_desc_bag;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes enter_desc_bag {
    0%   { 
        opacity: 0;
        transform: translateX(-100%);

    }
    100% { 
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes loading_shine {
    100% {
        transform: translateX(100%);
    }
}

@media (max-width: 1200px){
    .bag-item-container{
        flex: 0 33%;
    }
}

@media (max-width: 992px){
    .bag-item-container{
        flex: 0 50%;
    }

    .bag-item-container .bag-item-img .button.add-cart{
        transform: translate(-50%, 0%);
    }
}

@media (max-width: 650px){
    .bag-item-container{
        flex: 0 100%;
    }
}